body{
    /* margin:0; */
    padding-left:1px;
    font-family: sans-serif;
}
html,body{height:100vh}
hr {
    border: none;
    border-top: 3px solid black;
}
#icon-button:hover {
    /* background-color: whitesmoke; */
    transform: scale(1.1); /* Slightly enlarges */
}

#icon-button:active {
    transform: scale(0.95); /* Click effect */
}
h1 {
    display: flex;
    justify-content: space-between; /* Pushes elements to opposite sides */
    align-items: center;
    width: 100%;
}
.Container{
    position: relative;
    width:99%;
    height:80vh;
    /* border:solid red; */
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    flex-wrap:wrap;
}
.box{
    width:250px;
    height:200px;
    background-color:whitesmoke;
    margin:3px;
    display:flex;
    border-radius: 10px; /* Optional: rounded corners */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.1); /* Makes it pop up */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adds depth */
}
